@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
	--first-color: #93264d;
	--second-color: #202222;
  --third-color: #ffffff;
  --fourth-color: #292c2c;
  --fifth-color: #d64452;
}

/*General Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

body{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--second-color) !important;
  color: var(--third-color) !important;
  font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

/*Nav Styles*/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scroll {
  padding: 0px 0;
  background-color: var(--second-color) !important;
}

nav.navbar a.navbar-brand{
  width: 15%;
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 2em;
}

nav.navbar .navbar-nav .nav-link.navbar-link{
  font-weight: 400;
  color: var(--third-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover, 
nav.navbar .navbar-nav a.nav-link.navbar-link.active{
  opacity: 1;
}

span.navbar-text{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.navbar-text button{
  font-weight: 700;
  color: var(--third-color);
  border: 1px solid #ffffff;
  padding: 13px 28px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button a{
  text-decoration: none;
  color: #b8b8b8;
  z-index: 1;
}

.navbar-text button a:hover{
  text-decoration: none;
  color: var(--third-color);
  font-weight: bolder;
  z-index: 1;
}

.navbar-text button::before{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--first-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

button.navbar-toggler{
  background-color: var(--first-color);
  padding: 10px;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon{
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 3px solid #ffffff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus{
  border-bottom: 2px solid #ffffff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before{
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: var(--third-color) !important;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after{
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
  transform: rotate(45deg);
  background-color: var(--third-color);
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before{
  transform: translateY(8px) rotate(-45deg);
  background-color: var(--third-color);
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
  border-color: transparent;
}

/*Banner*/
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 260px 0 100px 0;
  background-image: url('./assets/bgPortfolio.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner h1{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.3;
}

.banner p{
  color: #fcfafa;
  text-align: justify;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button{
  border: none;
  background-color: transparent;
  margin-bottom: 50px;
}

.banner button svg{
  font-size: 25px;
  transition: 0.3s ease-in-out;
  line-height: 1;
  border: #ffffff;
  color: #ffffff;
  animation: updown 1s linear infinite;
}

@keyframes updown {
  0%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-5px);
  }
}

/*Skills*/
.skill{
  padding: 0 0 50px 0;
  position: relative;
}

div.skill-box{
  width: 100%;
}

.skill-box{
  background-color: #151511;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -50px;
}

.skill h2{
  font-size: 45px;
  color: #b8b8b8;
  font-weight: 700;
  margin-bottom: 60px;
}

.skill-slider{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img{
  width: 50%;
  margin: 0 auto 15px auto;
}

/*Projects*/
.projects{
  padding: 120px 0;
  position: relative;
}

.title-project{
  font-size: 45px;
  color: #dddcdc;
  font-weight: 700;
  text-align: center;
}

.contenedor-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 1100px;
}
.cards .card{
  position: relative;
  width: 320px;
  height: 320px;
  margin: 20px;
  perspective: 1000px;
  background-color: #c4c0c0;
  border-color: #c4c0c0;
}

.cards .card .box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}
.cards .card:hover .box{
  transform: rotateY(180deg);
}
.cards .card .box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cards .card .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards .contentBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--second-color);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.cards .contentBx div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #93264d, #421d36);
  transform: translateZ(100px);
}
.cards .contentBx div h2{
  color: var(--third-color);
  font-size: 1.5em;
  letter-spacing: 1px;
}
.cards .contentBx div p{
  color: var(--third-color);
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.cards .contentBx div a{
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  background: var(--second-color);
  color: var(--third-color);
  border-radius: 5px;
  padding: 5px 15px;;
  opacity: 0.9;
}
.cards .contentBx div a:hover{
  opacity: 1;
}

.projects .btn-github{
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: 13px 28px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.projects .btn-github a{
  text-decoration: none;
  color: #b8b8b8;
  z-index: 1;
}

.btn-github a:hover{
  text-decoration: none;
  color: var(--third-color);
  font-weight: bolder;
  z-index: 1;
}

.btn-github::before{
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--first-color);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.btn-github:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

/*footer*/
footer{
  background-color: var(--second-color);
  color: var(--third-color);
  padding-top: 15px;
  text-align: center;
  word-spacing: 2px;
  border-top: 1px solid #b8b8b8;
}

footer img{
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

footer a{
  text-decoration: none;
  color: var(--third-color);
  cursor: pointer;
}

footer a:hover{
  color: var(--fifth-color);
}

.App {
  text-align: center;
}

/*Mobile Responsive*/
@media screen and (max-width: 450px){
  .navbar-text button{
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .banner h1{
    font-size: 40px;
  }
  .banner p{
    color: #fcfafa;
    text-align: justify;
    font-size: 19px;
  }
  .skill h2{
    font-size: 40px;
    color: #b8b8b8;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .skill-slider .item img{
    width: 40%;
  }
  .projects{
    padding: 50px 0;
  }
  .title-project{
    font-size: 40px;
  }
  .cards .card{
    position: relative;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-height: 740px){
  .banner h1{
    font-size: 30px;
  }
  .banner p{
    font-size: 15px;
  }
  .skill h2{
    font-size: 35px;
  }
  .skill-slider .item img{
    width: 40%;
  }
  .projects{
    padding: 30px 0;
  }
  .title-project{
    font-size: 40px;
  }
  .cards .card{
    position: relative;
    width: 290px;
    height: 290px;
  }
}

/*IPad Responsive*/
@media only screen and (max-width: 997px) and (min-width: 450px){
  .navbar-text button{
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .banner h1{
    font-size: 40px;
  }
  .banner p{
    color: #fcfafa;
    font-size: 16px;
    width: 100%;
  }
  .skill h2{
    font-size: 40px;
    color: #b8b8b8;
    font-weight: 700;
  }
  .skill-slider .item img{
    width: 50%;
  }
  .title-project{
    font-size: 40px;
  }
  .cards .card{
    position: relative;
    width: 300px;
    height: 300px;
  }
}
